@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "錯誤";
}

<hr />
<div class="row">
	<div class="col-md-3">
		<img src="~/Images/warning.png" width="120px" />
	</div>
	<div class="col-md-9">
		<h1 class="text-danger">錯誤。</h1>
		<h2 class="text-danger">處理您的要求時發生錯誤。</h2>
	</div>
</div>

