@{
	ViewBag.Title = "錯誤";
}
<hr />
<div class="row">
	<div class="col-md-3">
		<img src="~/Images/404.jpg" width="200px" />
	</div>
	<div class="col-md-9">
		<h1 class="text-danger">錯誤。</h1>
		<h2 class="text-danger">@ViewData["Description"]</h2>
	</div>
</div>

